<div class="center hero-unit">
    <h1>Listing traders</h1>
</div>

<table class="table table-hover margin-tb">
  <thead class="h3">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

<% @traders.each do |trader| %>
  <tbody>
    <tr>
      <td class="h4"><%= trader.name %></td>
      <td><%= link_to 'Show', trader, class: "btn btn-default", role: "button" %>
      <%= link_to 'Edit', edit_trader_path(trader), class: "btn btn-warning", role: "button" %>
      <%= link_to 'Destroy', trader, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %></td>
    </tr>
  </tbody>
<% end %>
</table>

<div class="center">
  <%= link_to 'New Trader', new_trader_path, class: "btn btn-primary", role: "button" %>
  <%= link_to 'Home', root_path, class: "btn btn-default", role: "button" %>
</div>