<p id="notice"><%= notice %></p>

<p>
  <h4 class="margin-tb">
  <b>Name:</b>
  <%= @trader.name %>
  </h4>
</p>


<%= link_to 'Edit', edit_trader_path(@trader), class: "btn btn-warning", role: "button" %>
<%= link_to 'Back', traders_path, class: "btn btn-default", role: "button" %>
<%= link_to 'Home', root_path, class: "btn btn-primary", role: "button" %>
