<div class="center hero-unit">
    <h1>Listing stocks</h1>
</div>

<table class="table table-hover margin-tb">
  <thead class="h3">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

<% @stocks.each do |stock| %>
  <tbody>
    <tr>
      <td class="h4"><%= stock.name %></td>
      <td><%= link_to 'Show', stock, class: "btn btn-default", role: "button" %>
      <%= link_to 'Edit', edit_stock_path(stock), class: "btn btn-warning", role: "button" %>
      <%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", role: "button" %></td>
    </tr>
  </tbody>
<% end %>
</table>

<div class="center">
  <%= link_to 'New Stock', new_stock_path, class: "btn btn-primary", role: "button" %>
</div>