<% provide(:title, 'New Trade') %>
<% if(Trader.count == 0 && Stock.count == 0) %>
	<h3 class="center margin-tb">Before adding new Trades, you have to create a Trader and at least one Stock.</h3>
	<div class="center">
		<%= link_to "Add a Trader", new_trader_path, class: "btn btn-primary", role: "button" %>
		<%= link_to "Add a Stock", new_stock_path, class: "btn btn-warning", role: "button" %>
		<%= link_to_function 'Back', "history.back(-1)", class: "btn btn-default", role: "button" %>
	</div>
<% elsif(Trader.count == 0) %>
	<h3 class=" center margin-tb">Before adding new Trades, you have to create a Trader.</h3>
	<div class="center">
		<%= link_to "Add a Trader", new_trader_path, class: "btn btn-primary", role: "button" %>
		<%= link_to_function 'Back', "history.back(-1)", class: "btn btn-default", role: "button" %>
	</div>
<% elsif(Stock.count == 0) %>
	<h3 class="center margin-tb">Before adding new Trades, you have to create at least one Stock.</h3>
	<div class="center">
		<%= link_to "Add a Stock", new_stock_path, class: "btn btn-primary", role: "button" %>
		<%= link_to_function 'Back', "history.back(-1)", class: "btn btn-default", role: "button" %>
	</div>
<% else %>
	<h1 class="margin-tb">New Trade</h1>

	<%= render 'form' %>
<% end %>

<%= link_to_function 'Back', "history.back(-1)", class: "btn btn-default", role: "button" %>
<%= link_to 'Home', root_path, class: "btn btn-primary", role: "button" %>
