<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @trade.quantity %>
</p>

<p>
  <b>Share price (USD):</b>
  <%= @trade.price %>
</p>

<p>
  <b>Trader:</b>
  <%= @trade.trader.name %>
</p>

<p>
  <b>Stock:</b>
  <%= @trade.stock.name %>
</p>


<%= link_to 'Edit', edit_trade_path(@trade), class: "btn btn-warning", role: "button" %>
<%= link_to 'Back', trades_path, class: "btn btn-default", role: "button" %>
<%= link_to 'Home', root_path, class: "btn btn-primary", role: "button" %>
